@font-face {
    font-family: "DS-Digital-Bold";
    /*Nombre que se le va a poner*/
    src: url("fonts/DS-DIGIB.TTF");
    /*Se carga el archivo como cualquier otro enlace*/
}

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#calcula {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 30px 0 30px;
    /*Fijate en los margenes donde esta pegado esta el cero*/
    border: 1px solid red;
    border-radius: 10px;
    /*Hace las esquinas redondas*/
    background-color: rgb(111, 111, 245);
    box-shadow: 15px 15px 0px #424242;
    /*Efecto Sombra/Tridimensional*/

}

#calcula::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    margin-left: -29px;
    margin-top: -2px;
    z-index: -1;
}

#calcula::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 8px;
    background-color: #424242;
    transform: rotate(45deg);
    margin-left: 458px;
    margin-top: -22px;
    z-index: -1;
}

#calcula > .operands {
    /*El > . operands refiere a que estamos dentro de esa clase*/

    width: 100%;
    padding: 20px;
    text-align: right;
    background-color: #bcd1c0;
    margin-bottom: 20px;
    /*Mantiene los botones separados*/
    border-radius: 10px;
    /*Hace las esquinas redondas*/
    font-size: 70px;
    font-family: "DS-Digital-Bold";
    /*Se carga como cualquier otro tip de letra*/
}

/*Para hacer el operando de arriba mas pequeño se hace...*/
#calcula>.operands>[data-operand-1] {
    /*Con > nos aseguramos de entrar y seleccionar el dato que queremos cambiar*/

    font-size: 40px;
}

/*.operands {
    height: 10%;
    width: 100%;
    background-color: silver;
}

.btn-grid {
    height: 10%;
    width: 100%;
    background-color: rgb(190, 61, 61);
}*/

#calcula>#btn-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*Esto hace que se acomoden en 4 columnas*/
    gap: 10px;
}

#calcula> #btn-grid> button {
    padding: 10px;
    background-color: #ececec;
    font-weight: bold;
    border-radius: 10px;
    border-width: 5px;
    border-color: #c9c9c9;
    font-size: 25px;
}